<div class="container">
  <h3>ユーザー一覧</h3>
  <table>
    <thead>
      <tr>
        <th>ユーザーネーム</th>
      </tr>
    </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user_path(user.id) %></td>
          </tr>
        <% end %>
      </tbody>
    
  </table>
</div>