<div class="container">
  <% if @results.present? %>
    <h2>投稿検索結果： "<%= @results.count %>" 件</h2>
    <% @results.each do |post| %>
      <div class="post-card">
        <div class="text-box">
          <%= link_to post.name, post_path(post), class: "post-link" %>
        </div>
        <%= image_tag attachment_url(post, :image, :fill, 300, 300, format: "jpg") %>
      </div>
    <% end %>
  <% else %>
    <p>
      <i class="fas fa-search"></i> 検索に一致する投稿がありませんでした<br>
      別の検索をお試しください。
      <%= link_to :back do %>
        <button>戻る</button>
      <% end %>
    </p>
  <% end %>
</div>
