/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #eee8aa;
}

.footer_fixed {
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid;
  text-align: center;
}

#map {
  height: 600px;
  width: 600px;
}

.container {
  padding: 0 10px 0 10%;
}

ul {
  display: flex;
}

ul > li {
  list-style: none;
}

.error_messages {
  background-color: orange;
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.header-link {
  text-decoration: none;
  color: black;
  margin-right: 5px;
  padding: 3px;
  border: 3px solid black;
}

.header-container {
  display: flex;
}

table {
  border-collapse: collapse;  /* セルの線を重ねる */
  width: 40%;
  table-layout: auto;
  margin-left: 10px;
}
 
th,td {
  padding: 5px 10px;          /* 余白指定 */
}
 
th {
  width: 10%;
  background-color: #2196F3;  /* 背景色指定 */
  color:  #fff;               /* 文字色指定 */
  font-weight:  normal;       /* 文字の太さ指定 */
  position:  relative;        /* 位置指定 */
  z-index: 10;                /* 重なり調整 */
}
 
td {
  width: 30%;
  background-color:  #c0c9ff; /* 背景色指定 */
}
 
tr {
  border-bottom:  solid #fff; /* 線指定 */
}

.row {
  display: flex;
}

.maps {
  margin-right: 10px;
}

.top_post {
  background-color: #98fb98;
  display: inline-block;
  padding: 10px;
  margin-bottom: 10px;
}

.search-box {
  border: 5px solid black;
  padding: 10px;
}

.post-card {
  text-align: center;
  width: 300px;
  border: 5px solid #87ceeb;
  background-color: #f0f8ff;
  display: inline-block;
  padding: 0 10px;
  overflow: hidden;
  box-shadow: 0 5px 10px 1px #57666b;
  border-radius: 10px;
}

.text-box {
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-link {
  font-weight: bold;
}

.btns {
  font-weight: bold;
  width: 100px;
  background-color: #fff100;
  border-bottom: 5px solid #ccc100;
}

.btns:hover {
  margin-top: 3px;
  background: #fff20a;
  border-bottom: 2px solid #ccc100;
  cursor: pointer;
}

.setting-btn {
 display: inline-block;
 margin-top: 10px;
 color: #090909;
 padding: 0.7em 1.7em;
 font-size: 18px;
 border-radius: 0.5em;
 background: #e8e8e8;
 border: 1px solid #e8e8e8;
 transition: all .3s;
 box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

.setting-btn:hover {
  border: 3px solid white;
}

.post-btn {
  color: #fff;
  padding: 5px 10px;
  background-color: #ff4500;
  text-decoration: none;
}

.post-btn:hover {
  margin-top: 3px;
  color: #fff;
  opacity: 0.6;
}

.edit-btn {
  background-color: #228b22;
}

.edit-btn:hover {
  color: #fff;
}

.shadow {
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.user-head {
  font-weight: bold;
  height: 30px;
  display: inline-block;
}

.new-post-btn {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
  background: #57cc99;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
  line-height: 40px;
}
.new-post-btn:hover {
  background-color: #80ed99;
}
.new-post-btn:active {
  top: 2px;
}

.new-post {
  color: #fff;
  background-color: #008080;
  border-bottom: 0;
}

.new-post:hover {
  background-color: #008080;
}

.edit-user-btn {
  color: #fff;
  background-color: #3cb371;
  border-bottom: 0;
}

.edit-user-btn:hover {
  background-color: #3cb371;
}

.underline {
  border-bottom: 1px solid #000;
  padding-bottom: 1px;
}

.photo-travel {
  margin: 0 auto; 
  height: 350px;
  width: 500px;
  background-image: url(airport.jpg);
  background-size: cover;
}